<div id='wrapper'>
    <h1>Welcome!</h1>
        <div id='register'>
            <h2>Register</h2>

            <form action='/users' method='post'>
            <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                Name: <input type="text" name="name">
                <br>
                Alias: <input type="text" name="alias">
                <br>
                Email: <input type="text" name="email">
                <br>
                Password: <input type="password" name="password">
                <br>
                <p>* Password should be at least 8 characters</p>
                Confirm PW: <input type="password" name="password_confirmation">
                <input type="submit" name="register" value="Register">
            </form>
        </div>

        <div id="login">
            <h2>Login</h2>
            <form action="/login" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                Email: <input type="text" name="email">
                <br>
                Password: <input type="password" name="password">
                <br>
                <input type="submit" name="login" value="Login">
            </form>
        </div>
</div>

